/* General reset for body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    padding: 20px;
}

/* Header Styling */
h1 {
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

/* Search Box Container */
#companyNumberContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Search Input */
#companyNumber {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #444;
    background-color: #333;
    color: #E0E0E0;
    border-radius: 5px;
    width: 250px;
    transition: border-color 0.3s ease;
}

#companyNumber:focus {
    outline: none;
    border-color: #00BCD4;
}

/* Button Style */
button {
    background-color: #00BCD4;
    color: #121212;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #0097A7;
    transform: translateY(-2px);
}

button:active {
    background-color: #00BCD4;
    transform: translateY(0);
}

/* Company name display */
#companyNameDisplay p {
    font-size: 18px;
    margin-top: 20px;
    color: #00BCD4;
    text-align: center;
}

/* Results Section */
#results {
    margin-top: 20px;
    background-color: #1F1F1F;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#results p {
    color: #E0E0E0;
    margin-bottom: 10px;
}

/* Table Styling */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #333;
    color: #FFFFFF;  /* All text is white */
    border-radius: 10px;
    overflow: hidden;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

table th {
    background-color: #444;
    color: #FFFFFF;  /* Make table headings white */
    text-transform: uppercase;
}

table tr {
    transition: background-color 0.3s ease;
}

table tr:hover {
    background-color: #444;
}

table td a {
    color: #B0B0B0;  /* Links are slightly grey/off white */
    text-decoration: none;
    transition: color 0.3s;
}

table td a:hover {
    color: #9E9E9E;  /* Darker grey on hover */
    text-decoration: underline;
}

/* Styling all links within the #results section */
#results a {
    color: #B0B0B0; /* Slightly grey/off white */
    text-decoration: none;
    transition: color 0.3s;
}

#results a:hover {
    color: #9E9E9E; /* Darker grey on hover */
    text-decoration: underline;
}

/* Error and message styling */
.error-message, .error-message a {
    color: #FF4081;
}

.error-message a {
    text-decoration: underline;
}

.success-message {
    color: #03DAC6;
}

.bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
    z-index: 1000; /* Ensure it's on top of other elements */
    opacity: 0.5; /* Set initial transparency */
    transition: opacity 0.3s; /* Add a smooth transition */
}

.bottom-left:hover {
    opacity: 1; /* Full opacity when hovered over */
}

#buttonContainer {
    text-align: center;
    margin-top: 20px;
}

#buttonContainer button {
    margin: 5px;
}

.cookie-banner {
	position:fixed;
	bottom:0;
	width:100%;
	background-color:#333;
	color:#fff;
	padding:10px;
	text-align:center;
}

.cookie-banner {
    opacity: 0.5; /* Set initial transparency */
    transition: opacity 0.3s; /* Add a smooth transition */
}

.cookie-banner:hover {
    opacity: 1; /* Full opacity when hovered over */
}

footer {
    margin-top: 30px;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
}

footer a {
    color: #B0B0B0;  /* Links are slightly grey/off white */
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #9E9E9E;  /* Darker grey on hover */
	text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    #companyNumber {
        width: 200px;
    }

    button {
        padding: 8px 12px;
    }

    table th, table td {
        font-size: 14px;
        padding: 8px;
    }
}
